/* Apply your primary fonts */
body {
    background-color: #e6e6e6B3;
    background-image: url("../images/linkinbiobg.webp");
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    line-height: 1.5;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

/* .linkinbio-container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background: radial-gradient(circle at center, #027a32e8 100%, #000000 100%);
    min-height: 100vh;
    border-radius: 20px;
} */

.linkinbio-container {
    max-width: 480px;
    margin: 0 auto;
    background: transparent;
    /* background-color: #04605874; */
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    /* background-image: url("../images/digitalmarketingbg.jpg"); */
    min-height: 100vh;
    /* background-size: cover;
    background-position: center;
    background-blend-mode: overlay; */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /*border: 1px solid rgba(255, 255, 255, 0.1);    */
}

/* Profile Section */
.header-container {
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(0, 51, 42, 0.2);
    padding: 1px 0;
    font-size: 13px;
    font-weight: 500;
    margin-top: -40px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 40px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin: 0 auto 15px;
}

.header-container h1 {
    font-weight: 800;
    letter-spacing: -0.02em;
    font-size: 22px;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
}

.tagline {
    font-size: 15px;
    color: #000000;
    max-width: 80%;
    margin: 8px auto 0;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

/* Interactive Link Buttons */
.links-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 12px;
}

.link-item {
    background: transparent;
    padding: 18px;
    border-radius: 25px;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #ffffff;
}

.link-description {
    margin: 10px 20px 0 20px;
    font-size: 15px;
    color: #000000;
    line-height: 1.6;
    letter-spacing: 0.02em;
    text-align: center;
    opacity: 0.9;
}

/* Hover/Active states - crucial for UX */
.link-item:hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 0px #333;
    background-color: #f4f5a3;
    border: 2px solid rgba(255, 255, 255, 0.5);


}

.link-item a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    display: block;
}

.link-item:hover a {
    color: #000000;
}

.divider {
    border: none;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
    opacity: 0.5;
}

/* Social Icons */
.social-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.social-links img {
    width: 32px;
    height: 32px;
    opacity: 0.7;
    transition: 0.3s;
}

.social-links img:hover {
    opacity: 1;
    transform: scale(1.5);
}

/* Footer */
.footer {
    background-color: rgb(0, 51, 42);
    text-align: center;
    margin-top: 20px;
    padding: 1px 0;
    color: #ccc;
    font-size: 13px;
    font-weight: 500;
    margin-left: -20px;
    margin-right: -20px;
}

.footer-text {
    font-size: 10px;
    margin-top: 10px;
    opacity: 0.7;
}
